*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: last baseline;
    background-color: #000d57;
}
.menu ul li {
  margin-left: 20px;
  text-decoration: none;
  

}
.menu ul li a {
  text-decoration: none;
  color: rgb(200, 255, 248); /* opcional para que se vea mejor sobre fondo oscuro */
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

.menu ul li a:hover {
  color: #f1d991; /* Cambia el color al pasar el mouse */
}
.header{
    background-image: url("img/PORTADA.jpg");
    padding: 20px;
    background-size: cover;   
    text-align: center;
    display : flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
   
    height: 100vh;
}
.header span{
    display: block;
    font-size: 1.5rem;
    color: rgb(17, 68, 42);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}
.header p{
    display: block;
    font-size: 1.2rem;
    color: rgb(255, 205, 255);
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}
.header-text  button{
    background-color: #17006b;
    color: rgb(255, 246, 223);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    
}
